.noDesktop{
    display: none !important;
}
@media(max-width: 1000px){
    .mobileDisplay {
        display: block !important;
    }
    .noMobile {
        display: none !important;
    }
    .width70 {
        width: auto !important;
    }
    .width40{
        width: 40% !important;
    }
    .breakToColumn{
        flex-direction: column;
        align-items: normal !important;
    }
}