.noDesktop {
  display: none !important;
}
.dashProfilePic {
  background-color: white !important;
  border-radius: 100%;
  padding: 5px;
}
@media (max-width: 1000px) {
  .mobileDisplay {
    display: block !important;
    z-index: 999999 !important;
  }
  .noMobile {
    display: none !important;
  }
  .width70 {
    width: auto !important;
  }
  .width40 {
    width: 40% !important;
  }
  .breakToColumn {
    flex-direction: column;
    align-items: normal !important;
  }
  .mobileColumn {
    flex-direction: column;
  }
  .dashDefaultContent {
    margin: 30px 10px 20px 10px !important;
  }
  .alignOnMobile {
    align-items: center;
  }
}
@media (max-width: 600px) {
  .logoImage {
    width: 60%;
  }
  .headNav {
    padding: 5px 10px;
  }
  .dashProfilePic {
    height: 40px !important;
  }
  .dashRealContent {
    margin-top: 60px;
  }
}
@media (max-width: 500px) {
  .dashRealContent {
    margin-top: 70px;
  }
}
@media (max-width: 900px) {
  .dashRealContent {
    margin-top: 90px;
    margin-bottom: 50px;
  }
  .jobDesc {
    padding: 1em !important;
  }
  .jobDescMile {
    padding: 1em !important;
  }
  .jobControls {
    padding: 1em !important;
  }
  .dragAndDrop {
    padding: 10px !important;
  }
}
